{% extends '@IEPCWebsite/_webpage/participacion-ciudadana.html.twig' %}

{% block mainContainer %}
    <main class="container" id="frontpage">
        <row>
            <column cols="9" class="mainBanner">
                <blockquote>
                    <p>Nunca dudes que un pequeño <strong>grupo de ciudadanos pensantes</strong> y comprometidos pueden <strong>cambiar el mundo</strong>, porque en el fondo es lo único que siempre lo ha cambiado.</p>
                    <footer>
                        <cite>Margaret Mead</cite>
                    </footer>
                </blockquote>
                <blockquote class="hidden">
                    <p>Nadie puede ser feliz sin participar en la <strong>felicidad pública</strong>, nadie puede ser libre sin la experiencia de la <strong>libertad pública</strong>, y nadie, finalmente, puede ser feliz o libre sin implicarse y formar parte del <strong>poder político</strong>.</p>
                    <footer>
                        <cite>Hannah Arendt</cite>
                    </footer>
                </blockquote>
            </column>
            <column cols="3" class="textBanner animated zoomInUp sideBanners">
                <div>
                    <a href="/participacion-ciudadana/democracia-directa/reforma-participacion-ciudadana">
                        <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-consulta.jpeg') }}">
                    </a>
                    <a href="/participacion-ciudadana/difusion/eventos-de-la-direccion">
                        <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-eventos.jpeg') }}">
                    </a>
                </div>
                <div class="hidden">
                    <a href="/participacion-ciudadana/divulgacion/libros-sobre-participacion-ciudadana">
                        <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-libros.png') }}">
                    </a>
                </div>
                <div class="hidden">
                    <a href="http://www.revistafolios.mx/hemeroteca" target="_blank">
                        <img src="{{ asset('bundles/iepcwebsite/images/participacion-ciudadana/banner-folios.png') }}">
                    </a>
                </div>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner pensamiento animated bounceInLeft">
                <p><a href="/participacion-ciudadana/pensamiento-y-accion"><strong>Pensamiento</strong> y <strong>acción</strong></a></p>
                <div id="citesRotator">
                    <blockquote>
                        <p>Sin <strong>democracia</strong> la libertad es una <strong>quimera</strong>.</p>
                        <footer>
                            <cite>Octavio Paz</cite>
                        </footer>
                    </blockquote>
                </div>
            </column>
            <column cols="6" class="banner textBanner ongs  animated bounceInRight">
                <p><a href="/participacion-ciudadana/participacion-ongs">Participación <strong>ONG's</strong> y <strong>OSC's</strong></a></p>
            </column>
        </row>
        <row>
            <column cols="6" class="banner textBanner eventos animated bounceInLeft">
                <p><a href="/participacion-ciudadana/difusion/eventos-de-la-direccion"><strong>Eventos</strong> de participación ciudadana</a></p>
            </column>
            <column cols="6" class="banner textBanner mujeres animated bounceInRight">
                <p><a href="/participacion-ciudadana/participacion-politica-de-las-mujeres">Participación política de las <strong>mujeres</strong></a></p>
            </column>
        </row>
    </main>
{% endblock mainContainer %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/vendor/slick-carousel/slick/slick.css') }}">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/slick-carousel/slick/slick.min.js') }}"></script>
    <script>
        $(function(){
            $('.mainBanner').slick({
                autoplay: true,
                autoplaySpeed: 10000,
                arrows: false,
                fade: true
            });
            $('.mainBanner .slick-track').children().removeClass('hidden');

            $('.sideBanners').slick({
                autoplay: true,
                autoplaySpeed: 4000,
                arrows: false
            });
            $('.sideBanners .slick-track').children().removeClass('hidden');

            var citess = [
                        {cite: 'No estudio por <strong>saber más</strong>, sino por <strong>ignorar menos</strong>.', author: 'Sor Juana Inés de la Cruz'},
                        {cite: 'Sin <strong>democracia</strong> la libertad es una <strong>quimera</strong>.', author: 'Octavio Paz'},
                        {cite: 'El cargo político <strong>más importante</strong> en una democracia es <strong>el de ciudadano</strong>.', author: 'Juez Louis D. Brandeis'},
                        {cite: 'Piense <strong>usted</strong> lo que quiera, pero <strong>piénselo</strong>.', author: 'Fernando Savater'},
                        {cite: 'La vida de <strong>la República</strong> descansa en la energía, <strong>virtud e inteligencia</strong> de sus ciudadanos.', author: 'Andrew Johnson'}
                    ],
                citesRotator = setInterval(function() {
                    var $citesRotator = $('#citesRotator'),
                            cite          = citess[Math.floor(Math.random() * citess.length)];

                    $citesRotator.find('p').html(cite.cite);
                    $citesRotator.find('footer cite').text(cite.author);
                }, 10000);
        });
    </script>
{% endblock %}