{% extends 'IEPCWebsiteBundle::base.html.twig' %}

{% block bodyClass 'participacion-ciudadana' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets output='css/participacion-ciudadana.css' filter='?yui_css'
        '@IEPCWebsiteBundle/Resources/less/sections/participacion-ciudadana.less'
        '@IEPCWebsiteBundle/Resources/css/animate.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock stylesheets %}

{% block itemscope '' %}

{% block title '' %}

{% block description '' %}

{% block keywords '' %}

{% block socialtags %}
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Participación Ciudadana">
    <meta name="twitter:site" content="@iepcjalisco">
    <meta name="twitter:title" content="Page Title">
    <meta name="twitter:description" content="Page description less than 200 characters">
    <meta name="twitter:creator" content="@iepcjalisco">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="http://www.example.com/image.jpg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Title Here" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.example.com/" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:description" content="Description Here" />
    <meta property="og:site_name" content="Participación Ciudadana" />
    <meta property="fb:admins" content="Facebook numeric ID" />
{% endblock socialtags %}

{% block layout %}
    <header>
        {% block header %}
            {% include '@IEPCWebsite/_shared/header-participacion-ciudadana.html.twig' %}
        {% endblock header %}
    </header>

    {% block mainMenu %}
        {{  render(controller('IEPCWebsiteBundle:Menu:participacionCiudadana')) }}
    {% endblock mainMenu %}

    {% block mainContainer %}
        <main class="container">
            <row end>
                <column cols="9">
                    {{ render(controller('IEPCContentBundle:Content:Render', {content: webpage.content})) }}
                </column>
                <column cols="3" class="hideMobile sidebar">
                    &nbsp;
                </column>
            </row>
        </main>
    {% endblock mainContainer %}

    <footer>
        {% block footer %}
            {% include '@IEPCWebsite/_shared/footer-participacion-ciudadana.html.twig' %}
        {% endblock footer %}
    </footer>
{% endblock layout %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/participacion-ciudadana.js' filter='?yui_js'
        '@IEPCWebsiteBundle/Resources/javascript/participacion-ciudadana.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if app.environment == 'prod' %}
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-12992509-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    {% endif %}
{% endblock javascripts %}
