<ul class="socialLinks">
    <li>
        <a target="_blank" href="https://www.facebook.com/iepcjalisco" title="Facebook">
            {% image '@IEPCWebsiteBundle/Resources/images/icons/social/facebook.svg' %}
            <img src="{{ asset_url }}" alt="IEPC">
            {% endimage %}
        </a>
    </li>
    <li>
        <a target="_blank" href="https://twitter.com/iepcjalisco" title="Twitter">
            {% image '@IEPCWebsiteBundle/Resources/images/icons/social/twitter.svg' %}
            <img src="{{ asset_url }}" alt="IEPC">
            {% endimage %}
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/user/iepcjalisco" title="Youtube">
            {% image '@IEPCWebsiteBundle/Resources/images/icons/social/youtube.svg' %}
            <img src="{{ asset_url }}" alt="IEPC">
            {% endimage %}
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.flickr.com/photos/iepcjalisco" title="Flickr">
            {% image '@IEPCWebsiteBundle/Resources/images/icons/social/flickr.svg' %}
            <img src="{{ asset_url }}" alt="IEPC">
            {% endimage %}
        </a>
    </li>
    <li>
        <a target="_blank" href="http://livestream.com/iepcjalisco" title="Livestream">
            {% image '@IEPCWebsiteBundle/Resources/images/icons/social/livestream.svg' %}
            <img src="{{ asset_url }}" alt="IEPC">
            {% endimage %}
        </a>
    </li>
</ul>